.admin {
  width: 984px;
}

.admin__container {
  width: 920px;
}

.admin__listHeader__list {
  padding-left: 0;
}

.admin__list {
  padding-left: 0;
}

.admin__item {
  padding-left: 0;
}

.admin__pagination__list {
  padding-left: 0;
}
