.m {
  &-0-a {
    margin: 0 auto;
  }
}

.d {
  &-flex {
    display: flex;
  }
  &-block {
    display: block;
  }
  &-inline-block {
    display: inline-block;
  }
}

.jc {
  &-c {
    justify-content: center;
  }
  &-sb {
    justify-content: space-between;
  }
  &-sa {
    justify-content: space-around;
  }
  &-e {
    justify-content: end;
  }
  &-fs {
    justify-content: flex-start;
  }
  &-s {
    justify-content: start;
  }
}

.va {
  &-m {
    vertical-align: middle;
  }
}

.ta {
  &-c {
    text-align: center;
  }
  &-l {
    text-align: left;
  }
  &-r {
    text-align: right;
  }
}

.ai {
  &-c {
    align-items: center;
  }
  &-b {
    align-items: baseline;
  }
  &-fe {
    align-items: flex-end;
  }
  &-fs {
    align-items: flex-start;
  }
}

.fxw {
  &-w {
    flex-wrap: wrap;
  }
  &-nw {
    flex-wrap: nowrap;
  }
}

.fxd {
  &-c {
    flex-direction: column;
  }
  &-rr {
    flex-direction: row-reverse;
  }
}
