// color
$primary: #aa0601;
$secondary: #fbf2f2;
$font-primary: #650300;
$black: #000000;
$white: #ffffff;

$colorSet: (
  primary: $primary,
  secondary: $secondary,
  font-primary: $font-primary,
  black: $black,
  white: $white,
);

@each $key, $value in $colorSet {
  .bg-#{$key} {
    background-color: $value;
  }
  .font-#{$key} {
    color: $value;
  }
}

// font
$font-family-base: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei",
  "Segoe UI", Roboto, "Noto Sans TC", "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 1rem; // 16px
$font-size-xl: $font-size-base * 4; // 64px
$font-size-lg: $font-size-base * 2.25; // 36px
$font-size-sm: $font-size-base * 0.875; // 14px

$h-font-sizes: (
  1: $font-size-base * 3,
  // 48px
  2: $font-size-base * 2,
  // 32px
  3: $font-size-base * 1.75,
  // 28px
  4: $font-size-base * 1.5,
  // 24px
  5: $font-size-base * 1.25,
  // 20px
  6: $font-size-base,
  // 16px
);

@for $key from 1 through 6 {
  h#{$key},
  .h#{$key} {
    font-size: map-get($h-font-sizes, $key);
  }
}

.font {
  &-xl {
    font-size: $font-size-xl;
  }
  &-lg {
    font-size: $font-size-lg;
  }
  &-sm {
    font-size: $font-size-sm;
  }
}

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;
$font-weight-base: $font-weight-normal;

$font-weight-set: (
  font-weight-lighter: $font-weight-lighter,
  font-weight-light: $font-weight-light,
  font-weight-normal: $font-weight-normal,
  font-weight-bold: $font-weight-bold,
  font-weight-bolder: $font-weight-bolder,
);

@each $key, $value in $font-weight-set {
  .#{$key} {
    font-weight: $value;
    line-height: 1.5;
  }
}

$font-italic: italic;

.font-italic {
  font-style: $font-italic;
}

$line-height-base: 1.5;
$line-height-sm: 1.2;
$line-height-lg: 2;

// spacers
$spacer: 8px;
$direction: l, r, t, b, a;
$margin-direction: (
  l: margin-left,
  r: margin-right,
  t: margin-top,
  b: margin-bottom,
  a: margin,
);
$padding-direction: (
  l: padding-left,
  r: padding-right,
  t: padding-top,
  b: padding-bottom,
  a: padding,
);

@each $direKey in $direction {
  @for $key from 1 through 12 {
    .m-#{$direKey}-#{$key} {
      #{map-get($margin-direction,$direKey)}: $spacer * $key;
    }
    .p-#{$direKey}-#{$key} {
      #{map-get($padding-direction,$direKey)}: $spacer * $key;
    }
  }
}

.w- {
  &100 {
    width: 100%;
  }
}

.h- {
  &136px {
    height: 136px;
  }
}

.m- {
  &r-22px {
    margin-right: 22px;
  }
  &b-4px {
    margin-bottom: 4px;
  }
}

.p- {
  &t-60px {
    padding-top: 60px;
  }
  &b-12px {
    padding-bottom: 12px;
  }
  &y- {
    &6px {
      padding-top: 6px;
      padding-bottom: 6px;
    }
    &16px {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    &296px {
      padding-top: 296px;
      padding-bottom: 296px;
    }
    &1 {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    &2 {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  &x- {
    &12px {
      padding-left: 12px;
      padding-right: 12px;
    }
    &110px {
      padding-left: 110px;
      padding-right: 110px;
    }
    &176px {
      padding-left: 176px;
      padding-right: 176px;
    }
    &3 {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}

.underline {
  border-bottom: 1px solid $white;
}
